doctype html
html
  head
    meta(charset="utf-8")
    meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Drish Travel and Tour")
    meta(name="keywords" content="travel and tour, travel, tour, website pp")
    meta(name="author" content="Irish Jane Cual, Dennis Cual")    
    title BB-8 CSS Illustration
    link(rel="stylesheet", href="assets/styles/css/main.css")
  body
    .main-wrapper
      
      .title
        h1 Starwars BB-8
        h3 <a target="_blank" href="https://dribbble.com/shots/2408834-BB-8">Original Illustration by Justas Galaburda </a>  <span>|</span>   CSS Illustration by Drish
      
      .artboard
        .cross-shape-container
          .cross-shape__item.cross-shape__item_blue.cross-shape__item_blue1
          .cross-shape__item.cross-shape__item_blue.cross-shape__item_blue2    
          .cross-shape__item.cross-shape__item_blue.cross-shape__item_blue3 
          .cross-shape__item.cross-shape__item_blue.cross-shape__item_blue4    
          .cross-shape__item.cross-shape__item_blue.cross-shape__item_blue5 
          .cross-shape__item.cross-shape__item_red.cross-shape__item_red1 
          .cross-shape__item.cross-shape__item_red.cross-shape__item_red2 
          .cross-shape__item.cross-shape__item_red.cross-shape__item_red3 
          .cross-shape__item.cross-shape__item_red.cross-shape__item_red4 
          .cross-shape__item.cross-shape__item_red.cross-shape__item_red5 
          .cross-shape__item.cross-shape__item_red.cross-shape__item_red6 
          .cross-shape__item.cross-shape__item_yellow.cross-shape__item_yellow1
          .cross-shape__item.cross-shape__item_yellow.cross-shape__item_yellow2
          .cross-shape__item.cross-shape__item_yellow.cross-shape__item_yellow3
          .cross-shape__item.cross-shape__item_yellow.cross-shape__item_yellow4
        
        .bb-starwars      
          .bb__body                    
            .bb__circle_small.bb__circle_small1
            .bb__circle_small.bb__sircle_small2
            .bb__circle_big.bb__circle_big1
              .bb__inside-circle
            .bb__circle_big.bb__circle_big2
              .bb__inside-circle
            .bb_circle_gigantic
            .bb__line.bb__line1
            .bb__line.bb__line2
            .bb__line.bb__line3
            .bb__shadow-crop
              .bb__shadow.bb__shadow1
              .bb__shadow.bb__shadow2          
          .bb-head
            .bb-head__crop
              .bb-head__circle.bb-head__circle1
              .bb-head__circle.bb-head__circle2
              .bb-head__circle.bb-head__circle3
            .bb-head__line.bb-head__line1
            .bb-head__line.bb-head__line2
            .bb-head__line.bb-head__line3
            .bb-head__line-blue
            .bb-head__eye
            .bb-head__ear
              .bb-head__ear-line.bb-head__ear-line1
              .bb-head__ear-line.bb-head__ear-line2
        
        .ground
          .ground__item.ground__item1  
          .ground__item.ground__item2 
          .ground__item.ground__item3
          .ground__item-stone.ground__item-stone1
          .ground__item-stone.ground__item-stone2
          
          
          
      script(src="assets/bower_components/jquery/dist/jquery.js")
      script(src="assets/scripts/functions.js")
